@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');




.navbar {
    font-family: 'Open Sans', sans-serif;

}

.navbar-brand {
    color: rgb(238, 85, 55);

}

.nav-item.active {
color: rgb(238, 85, 55);
font-family: 'Open Sans', sans-serif;
}

h1 {
    color: rgb(238, 85, 55);
    font-family: 'Open Sans', sans-serif;
}

p {
    color: rgb(5, 5, 5);
    font-family: 'Open Sans', sans-serif;
}

a {
    color: rgb(5, 5, 5);
}

.leftside, .rightside {
    height:100vh;
    width: 100%;
}

.leftside {
    background: white;
}

.rightside {
    background: white;
}

/* .grad {
    background-image: linear-gradient(-90deg, rgb(238, 85, 55), yellow, rgb(116,242,121));
  } */

.jumbotron {
    background-color: transparent;
}

.jumbotron-left {
    text-align: center;
}



